/*Fontes e Cores*/
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Fjalla+One&family=Honk&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #9F00FF;
    --color-secondary: #060202;
    --color-tertiary: #cfcfc4;
    --color-footer: #F45316; 
    --color-button: #ED2159;
    --color-button-hover: #FFC9A9;
    --color-hover-disabled: #a1a1a1;
    --color-text: #111111; 
    --color-white: #f6f6f6;

    --font-primary: "Honk", sans-serif;
    --font-secondary: "Barriecito", sans-serif;
    --font-tertiary: "Montserrat", sans-serif;
    --font-extra: "Fjalla One", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 0 0;
}

.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 0.5px solid var(--color-tertiary);
    border-radius: 44px 44px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 80px;
    font-family: var(--font-primary); /* Honk */
    font-weight: 800;
    font-style: normal;
    text-align: center;
}

.section-title {
    font-family: var(--font-secondary); /* Barriecito */
    font-size: 62px;
    font-weight: 500;
    color: #FFFF00;
    margin: 16px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    }

.input-name {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0.1px ridge var(--color-hover-disabled);
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    font-family: var(--font-tertiary);
}

.button-container {
    width: 500px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 1.2%;
    margin-top: 1.2%;
}

/* Estilos de botão */
button {
    padding: 10px 25px;
    font-family: var(--font-tertiary);
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-add {
    background-color: var(--color-footer);
    color: var(--color-text);
    border-radius: 0 10px 10px 0;
    width: fit-content;
    height: fit-content;
}

.button-add:hover {
    background-color: var(--color-button-hover);
}

.button-add:disabled {
    background-color: #CFCFC4;
}

.button-draw {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    padding: 0.6rem 2rem;
    font-size: 1rem;
    background-color: var(--color-footer);
    color: var(--color-text);
    border-radius: 10px;
    border: none;
    width: fit-content;
    white-space: nowrap; 
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

.button-draw:disabled {
    background-color: #CFCFC4;
}

.button-draw-new {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    padding: 0.6rem 2rem;
    font-size: 1rem;
    background-color: var(--color-footer);
    color: var(--color-text);
    border-radius: 10px;
    border: none;
    width: fit-content;
    white-space: nowrap;
}

.button-draw-new:hover {
    background-color: var(--color-button-hover);
}

.button-draw-new:disabled {
    background-color: #CFCFC4;
}

/* Listas */
.name-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0.2%px;
    max-width: 600px;
    margin: 0.2%;
}

.amigo-item {
    background-color: #E2CDF5;
    color: var(--color-text);
    padding: 10px 15px;
    border-radius: 5px;
    font-family: var(--font-tertiary);
    font-size: 18px;
    font-weight: 420;
    text-align: center;
    box-shadow: 0 2px 3px var(--color-footer);
    margin: auto;
}

/* Resultado do sorteio */
.result-message {
    background-color: #FFFF00;
    color: var(--color-text);
    padding: 15px;
    border-radius: 5px;
    font-family: var(--font-extra);
    font-size: 22px;
    font-weight: 420;
    text-align: center;
    margin: 20px 0;
    display: none;
}

/* SweetAlert Customizado */
.swal-title {
    font-family: var(--font-extra);
    color: var(--color-primary);
    font-size: 32px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swal-content {
    font-family: var(--font-tertiary);
    color: var(--color-text);
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swal2-confirm {
    background-color: var(--color-button);
    border-radius: 5px;
    font-family: var(--font-tertiary);
    color: var(--color-white);
    font-size: 18px;
    letter-spacing: 1px;
}

.swal2-confirm:hover {
    background-color: var(--color-button);
    color: var(--color-white);
    border-radius: 5px;
    font-family: var(--font-tertiary);
    font-size: 18px;
    letter-spacing: 1px;
}
.swal2-confirm:focus,.swal2-confirm:active {
    outline: none;
    box-shadow: none;
    background-color: var(--color-button);
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

/* Footer */
.footer {
    font-family: var(--font-secondary);
    font-size: clamp(14px, 2vw, 24px);
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0.3em;
    color: var(--color-secondary);
    background-color: var(--color-button);
    text-align: center;
}
.direitosreserv {
    font-family: var(--font-extra);
    font-size: clamp(12px, 1vw, 8px);
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0.3em;
    color: var(--color-white);
    background-color: var(--color-button);
    text-align: center;
}